<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 col-offset-1">
      <h5 class="my-3 px-4 bg-secondary">会員情報編集</h5>
      <%= render "admin/customers/edit_customer", customer: @customer %>
    </div>
  </div>
</div>