<div class= "container">
  <div class="row mt-5">
    <%= link_to new_admin_item_path do %>
      <i class="fa-regular fa-square-plus fa-2xl" style="color: #000000;"></i>
    <% end %>
  </div>
</div>
