<div class="container">
  <h1 class="text-center">About</h1>

  <div class="center">
    <div class="text-center rounded-pill" style="background-color:#DFD8C8;">
      <div><%= image_tag 'linkedin_banner_image_1.png', height: '80px' %></div><br>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br><br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br><br>
      様々なバリエーションをご用意しております。<br><br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
      ぜひご注文ください。
    </div>
  </div>
</div>
