 <h3>ジャンル編集</h3>
  <%= form_with model: @genre, url: admin_genre_path, class: "genre_edit_form", local:true do |f| %>
          <div>
            <%= f.label :ジャンル %>
            <%= f.text_field :name, class: "genre-edit-field" %></td>
            <%= f.submit "変更を保存", class: "btn btn-primary genre_edit_btn" %>
          </div>
      <% end %>
<h1 class="my-3 ml-3">テーブル</h1>

    <div class="col-5 ml-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>氏名</th>
                    <th>得意言語</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>エンジニア1</td>
                    <td>PHP</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>エンジニア2</td>
                    <td>Ruby</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>エンジニア3</td>
                    <td>VBA</td>
                    </tr>
                <tr>
                    <td>4</td>
                    <td>エンジニア4</td>
                    <td>JAVA</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>エンジニア5</td>
                    <td>Python</td>
                </tr>
            </tbody>
        </table>
    </div>
