<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="align-middle table-secondary" style="width: 50%">送料</td>
      <td class="align-middle" style="width: 50%">800</td>
    </tr>
    <tr>
      <td class="align-middle table-secondary">商品合計</td>
      <td class="align-middle">1,760</td>
    </tr>
    <tr>
      <td class="align-middle table-secondary">請求金額</td>
      <td class="align-middle">800</td>
    </tr>
  </tbody>
</table>