<%= render "search_genre", genre: @genre %>
<div class="container">
  <br>
  <h3><%= @genre.name %>の検索結果 <%= @items.where(is_active:true).count %>件のヒット</h3>
  <br>
<%= render "list", items: @items%>
</div>